[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-community = "*"
python-dotenv = "*"
black = "*"
faiss-cpu = "==1.7.4"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
